{% extends 'general/base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="section-description d-flex align-items-center">
                    <div class="section-description-content flex-grow-1">
                        <h1 class="">Achievement List</h1>
                    </div>
                    <div class="section-description-actions">
                        <a href="#" class="btn btn-dark">
                            <i class="material-icons-outlined">file_download</i>Download
                        </a>
                        <a href="{% url 'achievement_create' %}" class="btn btn-green">
                            <i class="material-icons">add</i>Create Achievement
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-5 p-0">
            <table id="result_list" class="table table-striped">
                <thead>
                    <tr>
                        <!-- Select All Checkbox -->
                        <th class="djn-checkbox-select-all" tabindex="0" rowspan="1" colspan="1">
                            <div class="text">
                                <span>
                                    <input type="checkbox" id="action-toggle"
                                        aria-label="Select all objects on this page for an action">
                                </span>
                            </div>
                        </th>

                        <!-- Table Header for Goal Score -->
                        <th class="sorting text-green" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">Goal Score</h5>
                        </th>

                        <!-- Table Header for Color Code -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">Status Code</h5>
                        </th>

                        <!-- Table Header for Explanation -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">Explanation</h5>
                        </th>

                        <!-- Table Header for Activity -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">Associated Activity</h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for achievement in achievements %}
                    <tr role="row" class="{% cycle 'even' 'odd' %}">
                        <!-- Checkbox for each row -->
                        <td class="action-checkbox">
                            <input type="checkbox" name="_selected_action" value="{{ achievement.id }}"
                                class="action-select"
                                aria-label="Select this object for an action - Achievement {{ achievement.id }}">
                        </td>

                        <!-- Goal Score -->
                        <th class="field-__str__">
                            <a class="link" href="{% url 'achievement_update' achievement.id %}">
                                {{ achievement.goal_score }}
                            </a>
                        </th>

                        <!-- Color Code -->
                        <td class="field-color-code">
                            {{ achievement.color_code }}
                        </td>

                        <!-- Explanation -->
                        <td class="field-explanation">
                            {{ achievement.explanation|truncatechars:50 }}
                        </td>

                        <!-- Associated Activity -->
                        <td class="field-activity">
                            {{ achievement.activity.name }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">
                            No achievements found.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
