{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/forms.css' %}">
<script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>


<main id="main" class="main">
    <div class="pagetitle" style="margin-left: 15px;">
        {% if page_name == 'strategic_theme_create' %}
        <h1>Add New Strategic Theme</h1>
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Strategic Theme</a></li>
            <li>Add Strategic Theme</li>
        </ul>

        {% elif page_name == 'strategic_theme_update' %}
        <h1>Update Strategic Theme</h1>
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Strategic Theme</a></li>
            <li>update Strategic Theme</li>
        </ul>

        {% elif page_name == 'strategic_objective_create' %}
        <h1>Create Strategic Objective</h1>
        <ul class="breadcrumb">
            <li><a href="{% url 'home' %}">Strategic Objective</a></li>
            <li>Create Strategic objective</li>
        </ul>

        {% elif page_name == 'add_products' %}
        <h1>Add New Product</h1>
        <ul class="breadcrumb">
            <li><a href="{% url 'products' %}">Products</a></li>
            <li>Add New Product</li>
        </ul>

        {% else %}
        <h1>Create Delivery Note</h1>
        <ul class="breadcrumb">
            <li><a href="{% url 'deliverynotes' %}">Delivery Notes</a></li>
            <li>Create Delivery Note</li>
        </ul>
        {% endif %}
    </div>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card pt-5 pb-5">
                            <div class="card-body">
                                {% if page_name == 'strategic_theme_create' or page_name == 'strategic_theme_update' %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="form-group ">
                                                <div class="d-flex">
                                                    <label for="{{ form.theme_name.id_for_label }}"
                                                        class="form-label box">Theme:</label>
                                                    {{ form.theme_name }}
                                                </div>

                                                {% if form.theme_name.errors %}
                                                <div class="text-danger">
                                                    {{ form.theme_name.errors.as_text }}
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="form-group mt-3">
                                                <div class="d-flex">
                                                    <label for="{{ form.description.id_for_label }}"
                                                        class="form-label box">Description:</label>
                                                    {{ form.description }}
                                                    {% if form.description.errors %}
                                                </div>

                                                <div class="text-danger">
                                                    {{ form.description.errors.as_text }}
                                                </div>
                                                {% endif %}
                                            </div>

                                            <div class="form-group mt-3">
                                                <div class="d-flex">
                                                    <label for="{{ form.created_by.id_for_label }}"
                                                        class="form-label box ">Created By:</label>
                                                    {{ form.created_by }}
                                                </div>

                                                {% if form.created_by.errors %}
                                                <div class="text-danger">
                                                    {{ form.created_by.errors.as_text }}
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="">
                                            <button type="submit" class="btn btn-success w-100">Save</button>
                                        </div>
                                        <div class="mt-3">
                                            <button type="" class="btn btn-green w-100">Save and
                                                add</button>
                                        </div>
                                        <div class="mt-3">
                                            <button type="cancel" class="btn btn-danger w-100">Cancel</button>
                                        </div>

                                    </div>
                            </form>

                            {% elif page_name == 'strategic_objective_create' or page_name == 'strategic_objective_update' %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-8">
                                        <!-- Objective Name -->
                                        <div class="form-group">
                                            <div class="d-flex">
                                                <label for="{{ form.objective_name.id_for_label }}" class="form-label box">
                                                    {{ form.objective_name.label }}:
                                                </label>
                                                {{ form.objective_name }}
                                            </div>
                                            {% if form.objective_name.errors %}
                                            <div class="text-danger">
                                                {{ form.objective_name.errors.as_text }}
                                            </div>
                                            {% endif %}
                                        </div>
                            
                                        <!-- Strategic Theme -->
                                        <div class="form-group mt-3">
                                            <div class="d-flex">
                                                <label for="{{ form.strategic_theme.id_for_label }}" class="form-label box">
                                                    {{ form.strategic_theme.label }}:
                                                </label>
                                                {{ form.strategic_theme }}
                                            </div>
                                            {% if form.strategic_theme.errors %}
                                            <div class="text-danger">
                                                {{ form.strategic_theme.errors.as_text }}
                                            </div>
                                            {% endif %}
                                        </div>
                            
                                        <!-- Department -->
                                        <div class="form-group mt-3">
                                            <div class="d-flex">
                                                <label for="{{ form.department.id_for_label }}" class="form-label box">
                                                    {{ form.department.label }}:
                                                </label>
                                                {{ form.department }}
                                            </div>
                                            {% if form.department.errors %}
                                            <div class="text-danger">
                                                {{ form.department.errors.as_text }}
                                            </div>
                                            {% endif %}
                                        </div>
                            
                                        <!-- Created By -->
                                        <div class="form-group mt-3">
                                            <div class="d-flex">
                                                <label for="{{ form.created_by.id_for_label }}" class="form-label box">
                                                    {{ form.created_by.label }}:
                                                </label>
                                                {{ form.created_by }}
                                            </div>
                                            {% if form.created_by.errors %}
                                            <div class="text-danger">
                                                {{ form.created_by.errors.as_text }}
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            

                            {% elif page_name == 'add_products' %}
                            <form method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12" style="padding-top: 15px;">
                                        <div class="col-md-5" style="margin-bottom: 25px;">
                                            <label for="{{ form.name.id_for_label }}"
                                                style="color: #135761; margin-bottom: 10px;">Product
                                                Name</label>
                                            {{ form.name }}
                                            {% if form.name.errors %}
                                            <div class="invalid-feedback">
                                                {{ form.name.errors.as_text }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-5" style="margin-bottom: 25px;">
                                            <label for="{{ form.tpin.id_for_label }}"
                                                style="color: #135761; margin-bottom: 10px;">Description</label>
                                            {{ form.description }}
                                            {% if form.tpin.errors %}
                                            <div class="invalid-feedback">
                                                {{ form.tpin.errors.as_text }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <!-- Phone number input -->
                                        <div class="col-md-5" style="margin-bottom: 25px;">
                                            <label for="{{ form.contact.id_for_label }}"
                                                style="color: #135761; margin-bottom: 10px;">Price
                                            </label>
                                            {{ form.price }}
                                            {% if form.contact.errors %}
                                            <div class="invalid-feedback">
                                                {{ form.contact.errors.as_text }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn create-btns btn-save" id="submitButton"
                                                type="submit">Save</button>
                                            <a class="text-white" href="{% url 'products' %}">
                                                <button type="button" class="btn create-btns btn-cancel">Cancel</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Submit Button -->
                            </form>
                            {% else %}
                            <h1>Nothing here</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main><!-- End #main -->
{% endblock content %}