{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="section-description d-flex align-items-center">
                    <div class="section-description-content flex-grow-1">
                        <h1 class="">Reports List</h1>
                    </div>
                    <div class="section-description-actions">
                        <a href="#" class="btn btn-dark">
                            <i class="material-icons-outlined">file_download</i>Download
                        </a>
                        <a href="{% url 'report_create' %}" class="btn btn-green">
                            <i class="material-icons">add</i>Create Report
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive mt-5 p-0">
            <table id="result_list" class="table table-striped">
                <thead>
                    <tr>
                        <!-- Select All Checkbox -->
                        <th class="djn-checkbox-select-all" tabindex="0" rowspan="1" colspan="1">
                            <div class="text">
                                <span>
                                    <input type="checkbox" id="action-toggle"
                                        aria-label="Select all objects on this page for an action">
                                </span>
                            </div>
                        </th>

                        <!-- Table Header for Quarter -->
                        <th class="sorting text-green" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">Quarter</h5>
                        </th>

                        <!-- Table Header for User -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">User</h5>
                        </th>

                        <!-- Table Header for Designation -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">Designation</h5>
                        </th>

                        <!-- Table Header for Activity -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">Activity</h5>
                        </th>

                        <!-- Table Header for Actions -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">Actions</h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for report in reports %}
                    <tr role="row" class="{% cycle 'even' 'odd' %}">
                        <!-- Checkbox for each row -->
                        <td class="action-checkbox">
                            <input type="checkbox" name="_selected_action" value="{{ report.id }}"
                                class="action-select"
                                aria-label="Select this object for an action - Report {{ report.id }}">
                        </td>

                        <!-- Quarter -->
                        <th class="field-quarter">
                            {{ report.quarter }}
                        </th>

                        <!-- User -->
                        <td class="field-user">
                            {{ report.user.get_full_name }}
                        </td>

                        <!-- Designation -->
                        <td class="field-designation">
                            {{ report.designation }}
                        </td>

                        <!-- Activity -->
                        <td class="field-activity">
                            {{ report.activity }}
                        </td>

                        <!-- Actions -->
                        <td class="field-actions">
                            <a href="{% url 'report_update' report.id %}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="{% url 'report_detail' report.id %}" class="btn btn-sm btn-info">View</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">
                            No reports found.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
